body {
    text-align: center;
}

.bag {
    width: 80%;
    .prod {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img {
            width: 20%;
        }
    }
}