<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./estilos/styleShoes.css">
    <link rel="stylesheet" href="./estilos/main.css">
</head>

<body>
    {{> header}}

    <div class="shoes_title">
        <h1 class="title">Shoes</h1>
        <div class="titleStyle">
            <div class="titleStyle1"></div>
        </div>
    </div>
    <nav class="filters">
        <article>
            <div class="pCont">
                <p>Style</a>
            </div>
            <ul>
                <li><a href="/store?var=general&val=general">All Shoes</a></li>
                <li><a href="/store?var=category&val=boots">Boots</a></li>
                <li><a href="/store?var=category&val=tennis">Sneakers</a></li>
                <li><a href="/store?var=category&val=heels">Heels</a></li>
            </ul>
        </article>
        <article>
            <div class="pCont">
                <p>Size</a>
            </div>
            <ul>
                <li><a href="/store?var=size&val=6">6</a></li>
                <li><a href="/store?var=size&val=7">7</a></li>
                <li><a href="/store?var=size&val=8">8</a></li>
            </ul>
        </article>
        <article>
            <div class="pCont">
                <p>Colour</a>
            </div>
            <ul>
                <li><a href="/store?var=colour&val=black">black</a></li>
                <li><a href="/store?var=colour&val=grey">grey</a></li>
                <li><a href="/store?var=colour&val=white">white</a></li>
            </ul>
        </article>
        <article>
            <div class="pCont">
                <p>Sort by</a>
            </div>
            <ul>
                <li><a href="/store?var=ordenar&val=des">price (Hight to Low)</a></li>
                <li><a href="/store?var=ordenar&val=asc">price (Low to Hight)</a></li>
            </ul>
        </article>
    </nav>
    <div class="products" id="products">
        {{#each productos}}
        <div class="product">
            <a href='/detalle?producto={{name}}'>bag</a>
            <div>
                <img class="product_img" src="./{{imagen.[0]}}" alt="">
            </div>
            <div class="productDescription">
                <p class="productDescription_name">{{name}}</p>
                <p class="productDescription_price"><strong>$ {{price}}</strong></p>
            </div>
        </div>
        {{/each}}
    </div>

    {{> footer}}
</body>

</html>