.top{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px;
    background: #51afb9;
    align-items: center;
    justify-content: space-between; 
    width: 90%;
    height: 100px; 
    margin: auto;
  }
  .left{
    font-size: 40px;
  }
  .centerBtn{
      background: #51afb9;
      border: 0px;
      font-size: 30px;
      font-family: 'Manjari', sans-serif;
  }
  .centerInput{
      background: #51afb9;
      border: 0px;
  }
  .rigth{
    font-family: 'Manjari', sans-serif;
    font-size: 30px;
  }
  .rigthItem{
    padding-right: 50px;
    transition: .1s ease-in-out;
  }
  .rigthItem:hover{
    color: rgb(180, 180, 180);
  }
  .menu{
    display: flex;
    background: #e07b40;
    height: 80px;
    align-content: center;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
     }
  .menuList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 30px;
     }
  .menuItems{
    font-family: 'Manjari', sans-serif;
    padding-right: 45px;
    padding-left: 45px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    transition: .1s ease-in-out;
    }
  .menuItems:hover{
    color: rgb(180, 180, 180);
  }
  .emty{
    height: 20px;
  }
  .shoes_title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  .title{
    font-size: 50px;
    text-align: left; 
    margin-bottom: 0px;
  }
  .titleStyle{
    display: flex;
    justify-items: center;
    width: 80%;
    height: 50px;
    background: #51afb9;
    margin-top: 1px;
  }
  .titleStyle1{
    display: flex;
    justify-items: center;
    width: 80%;
    height: 3px;
    background: black;
  }
  .filters{
    display: flex;
    height: 80px;
    align-content: center;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
     }
  .filterList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 30px;
     }
  .listItems{
    font-family: 'Manjari', sans-serif;
    padding-right: 120px;
    padding-left: 120px;
    font-size: 22px;
    text-decoration: none;
    color: black;
    transition: .1s ease-in-out;
    }
  .listItems:hover{
    color: rgb(180, 180, 180);
  }
  .products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    background: #73877B; 
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
  }

  .product{
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: solid 2px white;
    border-radius: 11px;
  }

  .product_img{
    width: 100%;
  }
  .productDescription{
    justify-content: center;
    font-family: 'Manjari', sans-serif;
    padding: 40px;
  }
  .productDescription_name{
    font-size: 30px;
    margin: 0px;
    padding-bottom: 10px;
    
  }
  .productDescription_price{
    font-size: 30px;
    margin: 0px;
  }
